<%- include("header") -%>
<h2>This is the about page.</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt temporibus eveniet cupiditate illo explicabo quis aliquam, similique veritatis exercitationem harum maiores quae optio quidem accusantium hic ea ullam esse voluptatum!
Animi ex, quod corrupti voluptates facilis inventore est laborum porro neque doloremque voluptatum, nesciunt ratione fugiat facere. Illum, voluptatem. Saepe quas, dolor est cumque beatae quaerat? Nam deleniti consequuntur nesciunt?</p>

<%- include("footer") -%>
